body {
  font-family: "Source Sans Pro", "HelveticaNeue-Light", "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.618;
  text-rendering: optimizeLegibility;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.custom-input {
  max-width: 80px;
  padding: 5px;
}
.font-heading {
  font-size: 1.5rem;
}
.table-design {
  color: gray;
  border-spacing: 0;
  width: 100%;
  margin: 0 0 1.41575em;
  border-collapse: collapse;
}
.title-design {
  font-family: "Source Sans Pro", "HelveticaNeue-Light", "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #484c51;
  line-height: 1.214;
  letter-spacing: -1px;
}
.table-body-design {
  background-color: #fdfdfd;
}
.checkout-table {
  border-spacing: 0;
  width: 100%;
  margin: 0 0 1.41575em;
  border-collapse: separate;
}
.checkout-table th {
  width: 45%;
  overflow-wrap: anywhere;
  word-break: break-word;
  padding: 1.41575em;
  vertical-align: middle;
  font-weight: 600;
  background-color: #f8f8f8;
}
.checkout-table td {
  width: 45%;
  overflow-wrap: anywhere;
  word-break: break-word;
  padding: 1em 1.41575em;
  text-align: left;
  vertical-align: top;
  background-color: #fdfdfd;
  color: #60646c;
}
.btn-coupon {
  background-color: #61dafb;
  width: 100%;
  border-color: #61dafb;
  color: #ffffff;
  cursor: pointer;
  padding: 0.6180469716em 1.41575em;
  text-decoration: none;
  font-weight: 600;
  text-shadow: none;
  display: inline-block;
}
.coupon {
  display: flex;
  gap: 10px;
}
.actions-table {
  background-color: #fbfbfb;
}
.total-h2 {
  color: #484c51;
  font-size: 1.618em;
}

.table-total {
  width: 300px;
}

.table-child {
  vertical-align: middle;
}

.alert-ecommerce {
  margin-bottom: 2.617924em;
  margin-left: 0;
  border-radius: 2px;
  background-color: #3d9cd2 !important;
  color: #ffffff !important;
  clear: both;
  border-left: 0.6180469716em solid rgba(0, 0, 0, 0.15);
  padding: 1em 2em 1em 3.5em;
  position: relative;
  list-style: none outside;
}
.alert-ecommerce-logo {
  display: inline-block;
  position: absolute;
  top: 1.3em;
  left: 1.5em;
  color: #fff;
}
.code-checkout {
  cursor: pointer;
  text-decoration: underline;
}
.place-order {
  padding: 1.41575em;
  margin-bottom: 0;
  float: none;
  width: 100%;
  margin-top: 2.617924em;
  background-color: #fafafa;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
