body {
  font-family: "Source Sans Pro", "HelveticaNeue-Light", "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.618;
  text-rendering: optimizeLegibility;
  background-color: #e7e6e6;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.home-section {
  padding: 40px 20px 40px 20px;
  color: #625454;
}
.custom-input {
  max-width: 80px;
  padding: 5px;
}
.font-heading {
  font-size: 2rem;
}
.font-heading::after {
  background-color: #625454;
  bottom: -10px;
  height: 5px;
  width: 40px;
  position: relative;
  content: "";
  display: block;
}
.table-design {
  color: gray;
  border-spacing: 0;
  width: 100%;
  margin: 0 0 1.41575em;
  border-collapse: collapse;
}
.title-design {
  font-family: "Source Sans Pro", "HelveticaNeue-Light", "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #484c51;
  line-height: 1.214;
  letter-spacing: -1px;
}
.table-body-design {
  background-color: #fdfdfd;
}
.checkout-table {
  border-spacing: 0;
  width: 100%;
  margin: 0 0 1.41575em;
  border-collapse: separate;
}
.product-font {
  font-size: 12px;
}
.checkout-table th {
  width: 45%;
  overflow-wrap: anywhere;
  word-break: break-word;
  padding: 1.41575em;
  vertical-align: middle;
  font-weight: 600;
  background-color: #f8f8f8;
}
.checkout-table td {
  width: 45%;
  overflow-wrap: anywhere;
  word-break: break-word;
  padding: 1em 1.41575em;
  text-align: left;
  vertical-align: top;
  background-color: #fdfdfd;
  color: #60646c;
}
.btn-coupon {
  background-color: #61dafb;
  width: 100%;
  border-color: #61dafb;
  color: #ffffff;
  cursor: pointer;
  padding: 0.6180469716em 1.41575em;
  text-decoration: none;
  font-weight: 600;
  text-shadow: none;
  display: inline-block;
}
.coupon {
  display: flex;
  gap: 10px;
}
.actions-table {
  background-color: #fbfbfb;
}
.total-h2 {
  color: #484c51;
  font-size: 1.618em;
}

.table-total {
  width: 300px;
}

.table-child {
  vertical-align: middle;
}
.bg-success {
  background-color: #0d4901;
  padding: 10px;
  color: #fff;
  border-radius: 25%;
}
.bg-danger {
  background-color: #d31212;
  padding: 10px;
  color: #fff;
  border-radius: 25%;
}
.shipping-card {
  position: relative;

  background-color: #999999;
  border: 2px solid #414040;
}
.shipping-card-error {
  border: #df2c38 1px solid;
  border-left: 0.3180469716em solid #df2c38;
}
.nav-link {
  color: #625454;
}
.product-feedback {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 40px 20px 40px 20px;
  color: #625454;
}
.home-product {
  background-color: #a5a5a5;
  padding: 20px;
}
.rate-title::after {
  background-color: #625454;
  bottom: -10px;
  height: 5px;
  width: 40px;
  position: relative;
  content: "";
  display: block;
}
.form-product {
  background-color: #e7e6e6;
  padding: 20px;
}
.product-field {
  padding: 10px;
}
.review-page {
  border: 1px solid #aeacac;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #f8f8f8;
}
.background-rating {
  background-color: #f8f8f8;
}
.title-form {
  font-weight: bold;
  padding: 20px;
}
.title-question {
  padding-left: 20px;
  padding-right: 20px;
}
.start-title {
  border: 1px solid #aeacac;
}
.rating-form {
  border: 1px solid #aeacac;
  padding: 20px;
  margin-left: 10px;
}
.reviews_list {
  border-bottom: #aaabad 2px solid;
}
.bg-warning {
  border-radius: 10px;
  color: #fff;
}
.rating-value-text {
  font-size: 2rem;
}
.rating-value {
  padding: 20px;
}
.shipping-button {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 20px;
}
.shipping-input {
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
}
.shipping-heading::after {
  background-color: #625454;
  bottom: -10px;
  height: 5px;
  width: 40px;
  position: relative;
  content: "";
  display: block;
  margin-bottom: 20px;
}
.alert-ecommerce {
  margin-bottom: 2.617924em;
  margin-left: 0;
  border-radius: 2px;
  background-color: #3d9cd2 !important;
  color: #ffffff !important;
  clear: both;
  border-left: 0.6180469716em solid rgba(0, 0, 0, 0.15);
  padding: 1em 2em 1em 3.5em;
  position: relative;
  list-style: none outside;
}
.alert-ecommerce-success {
  background-color: #0d4901 !important;
}
.alert-ecommerce-danger {
  background-color: #df2c38 !important;
}
.danger-alert-ecommerce {
  margin-bottom: 2.617924em;
  margin-left: 0;
  border-radius: 2px;
  background-color: #df2c38 !important;
  color: #ffffff !important;
  clear: both;
  border-left: 0.6180469716em solid rgba(0, 0, 0, 0.15);
  padding: 1em 2em 1em 3.5em;
  position: relative;
  list-style: none outside;
}
.popupalert {
  position: fixed;
  top: 40px;
  right: 0;
  background: #454648;
  padding: 10px;
  color: #f8f8f8;
  transform: translate(-50%, -50%);
  margin: 0;
  border-radius: 5px;
  z-index: 1000;
  opacity: 0; /* start with opacity set to 0 */
  transition: opacity 6s ease-in-out; /* add a 2-second transition effect */
}
.popupalert.show {
  opacity: 1; /* change opacity to 1 when show class is added */
}
.alert-ecommerce-logo {
  display: inline-block;
  position: absolute;
  top: 1.3em;
  left: 1.5em;
  color: #fff;
}
.code-checkout {
  cursor: pointer;
  text-decoration: underline;
}
.place-order {
  padding: 1.41575em;
  margin-bottom: 0;
  float: none;
  width: 100%;
  margin-top: 2.617924em;
  background-color: #fafafa;
}
.form-billing {
  padding: 20px;
}
.form-billing-error {
  border: #df2c38 1px solid;
  border-left: 0.3180469716em solid #df2c38;
}
.slider {
  height: 15rem;
  color: #fafafa;
}
.home-banner-design {
  padding: 80px 20px 80px 20px;
}
.home-banner-design-text {
  padding: 40px 40px 80px 40px;
  color: #625454;
}
.home-banner {
  position: relative;
  height: 80vh;
  background-image: linear-gradient(180deg, #008aff, #ff137d),
    url("https://s3.us-west-2.amazonaws.com/cobbcounty.org.if-us-west-2/prod/s3fs-public/2021-03/Medicine-Pills-Pile-1500w.jpg");
  background-size: cover;
  background-blend-mode: screen;
  -webkit-animation: slidein 100s;
  animation: slidein 100s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

@keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

.wave-banner {
  position: absolute;
  bottom: 0;
  left: 0;
}
.banner-image {
  width: 100%;
  height: 40vh;
}
.custom-indicators li {
  background-color: red; /* Change this to the desired color */
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.footer-design {
  position: relative;
  height: 80vh;
  background-color: #282c34;
}
.wave-footer {
  position: absolute;
  top: 0;
  left: 0;
}
.footer-copy {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #1f2228;
  padding: 10px;
}
.footer-content {
  color: #fff;
  position: absolute;
  top: 230px;
  left: 0;
  width: 100%;
  padding: 40px;
}
.footer-title {
  padding: 30px;
}
.footer-about {
  padding: 30px;
}
.bottom-right-sticky {
  position: fixed;
  bottom: 0;
  right: 0;
  background: #454648;
  padding: 10px;
  color: #f8f8f8;
  transform: translate(-50%, -50%);
  margin: 0;
  border-radius: 5px;
}
.table-vertical th {
  width: 20%;
  vertical-align: middle;
  text-align: left;
}

.table-vertical td {
  vertical-align: middle;
}
.table-row-height {
  height: 100px;
}
.table-bordered {
  border-color: #b3b5b7;
}
@media only screen and (min-width: 1200px) {
}
@media only screen and (max-width: 1199px) and (min-width: 992px) {
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
}
@media only screen and (max-width: 767px) and (min-width: 576px) {
  .footer-design {
    height: 160vh;
  }
  .footer-content {
    top: 100px;
    padding: 10px;
  }
  .home-banner {
    height: 220vh;
  }
}
@media only screen and (max-width: 575px) {
  .footer-design {
    height: 150vh;
  }
  .footer-content {
    top: 100px;
  }
  .home-banner {
    height: 150vh;
  }
  .slider {
    height: 20rem;
  }
}
